@import '../../../assets/styles/global-variables';

.category-form {
  max-width: 780px;
}

.form-title-container {
  margin-bottom: 20px;
}

.form-title {
  max-width: 780px;
}

// Desktop
@media screen and (min-width: $min-desktop-screen-size) {
  .mobile {
    display: none;
  }
}

@media screen and (min-width: $min-desktop-screen-size) and (max-width: 1254px) {
  .container {
    max-width: 780px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1254px) and (max-width: 1404px) {
  .container {
    max-width: 1170px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1405px) {
  .container {
    max-width: 1320px;
    width: 100%!important;
  }
}

// Mobile
@media screen and (max-width: $max-mobile-screen-size) {
  .desktop {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .form-title-container {
    margin-bottom: 0px;
  }
}
