<nav class="navbar fixed-top my-navbar navbar-expand-sm navbar-dark bg-dark">
  <div class=" container-fluid h-100 px-100 px-20-mobile">
    <div class="navbar-brand text-center">
      <a href="#"><img class="navbar-logo" src="assets/images/logo.png" alt="Logo.png" /></a>
      <a href="#" class="logo-text mb-0">Warehouse</a>
    </div>

    <!-- Desktop -->
    <div class="desktop-links h-100">
      <ul class="navbar-nav me-auto  h-100">
        <ng-template ngFor let-link [ngForOf]="links" let-i="index">
          <li
            ngbDropdown
            #myDrop="ngbDropdown"
            class="nav-item navbar-button-container h-100 d-flex align-items-center"
          >
            <a
              *ngIf="link.options.length === 0; else menuSection"
              id="{{link.sectionId}}"
              class="nav-link navbar-button"
              href="{{link.url}}"
            >
              {{link.title}}
            </a>
            <ng-template #menuSection>
              <a
                id="{{link.sectionId}}"
                class="nav-link navbar-button"
                tabindex="0"
                (click)="openDropdown(myDrop)"
                ngbDropdownToggle
                href="#"
              >
                {{link.title}}
              </a>
            </ng-template>
            <div ngbDropdownMenu *ngIf="link.options.length > 0" [attr.aria-labelledby]="link.sectionId" class="nav-dropdown-menu">
              <ng-template ngFor let-option [ngForOf]="link.options" let-j="index">
                <a
                  ngbDropdownItem
                  href="{{option.url}}"
                  (click)="$event.preventDefault()"
                  class="nav-dropdown-section-button"
                >
                  {{option.text}}
                </a>
                <div *ngIf="link.options.length - 1  > j" class="horizontal-separator h-1px mx-10px bg-gray"></div>
              </ng-template>
            </div>
          </li>
          <li *ngIf="links.length - 1 > i " class="separator"></li>
        </ng-template></ul>
    </div>

    <!-- Mobile -->
    <ng-template #mobileMenu let-modal class="mobile-menu">
      <div class="modal-header mobile-menu-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div ngbAccordion [closeOthers]="true">
          <ng-template ngFor let-mobileLink [ngForOf]="links" let-i="index">
            <div ngbAccordionItem [destroyOnHide]="true" class="link-mobile-content">
              <a hidden="{{mobileLink.options.length === 0 ? null : false }}" class="link-mobile-title accordion-button accordion-button-arrow-hidden" href="{{mobileLink.url}}">{{mobileLink.title}}</a>

              <div hidden="{{mobileLink.options.length === 0 ? false : null }}">
                <button ngbAccordionButton class="link-mobile-title">{{mobileLink.title}}</button>

                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="pt-0">
                    <ng-template ngFor let-option [ngForOf]="mobileLink.options" let-j="index">
                      <a href="{{option.url}}" class="mobile-link w-100">{{option.text}}</a>
                      <div *ngIf="mobileLink.options.length - 1  > j" class="horizontal-separator h-1px"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>

            <div class="horizontal-separator h-1px"></div>
          </ng-template>
        </div>
      </div>
    </ng-template>

    <div class="mobile-buttons">
      <button class="options-mobile-button h-100" (click)="openMobileMenu(mobileMenu)">
        <div class="burger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </button>
    </div>
  </div>
</nav>
