@import '../../../assets/styles/global-variables';

#product-details {
  margin-bottom: 30px;
}

.desktop-horizontal-separator {
  width: 1px;
  height: 100%;;
  background-color: #adb5bd;
}

.desktop-img-category {
  min-height: 250px;
}

.border-radius-3px {
  border-radius: 3px;
}

// Desktop
@media screen and (min-width: $min-desktop-screen-size) {
  .mobile-category-header, .mobile {
    display: none;
  }
}

@media screen and (min-width: $min-desktop-screen-size) and (max-width: 1254px) {
  .container {
    max-width: 780px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1254px) and (max-width: 1404px) {
  .container {
    max-width: 1170px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1405px) {
  .container {
    max-width: 1320px;
    width: 100%!important;
  }
}

// Mobile
@media screen and (max-width: 420px) {
  .mobile-img-container, .mobile-img-category {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: $max-mobile-screen-size) {
  .desktop {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .desktop-category-header {
    display: none;
  }

  .mobile-img-container {
    height: 200px;
  }

  .mobile-img-category {
    width: 70%;
  }
}
