<div id="categoriesPage">
  <div class="container px-0">
    <div class="row mx-0">
      <p class="totalCategoriesText px-0">Showing {{categoriesToShow}} of {{totalCategories}} categories</p>
    </div>
    <div>
      <ng-template ngFor let-page [ngForOf]="categoryPages" let-i="index">
        <div class="row justify-content-center mx-0 categoriesPage">
          <p class="text-center">- Page {{i + 1}} -</p>
          <ng-template ngFor let-category [ngForOf]="page">
            <!-- Desktop category card -->
            <div class="card desktop-category-card col-md-3">
              <img class="card-img-top category-image" src="{{category.image}}" alt="{{category.name}}">
              <div class="card-body">
                <h5 class="card-title categoryNameTxt">{{category.name}}</h5>
                <p class="card-text txt">{{category.description}}<p>
              </div>
            </div>

            <!-- Mobile category card -->
            <div class="row card mobile-category-card w-100 mx-0">
              <div class="mobile-card-image-container col-sm-2 h-100 px-0">
                <img class="card-img-top h-100 mobile-category-image" src="{{category.image}}" alt="{{category.name}}">
              </div>
              <div class="mobile-data-container col-8 px-0 ">
                <h5 class="categoryNameTxt">{{category.name}}</h5>
                <p class="txt">{{category.description}}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</div>
