@import '../assets/styles/global-variables';

.pages-content {
  width: 100%;
  padding-top: 130px;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: $max-mobile-screen-size) {
  .pages-content {
    padding-top: 100px;
    padding-right:10px;
    padding-left: 10px;
  }
}
