@import '../../../assets/styles/global-variables';

.desktop-img-category {
  min-height: 250px;
}

// Desktop
@media screen and (min-width: $min-desktop-screen-size) {
  .mobile-category-header {
    display: none;
  }
}

@media screen and (min-width: $min-desktop-screen-size) and (max-width: 1254px) {
  .container {
    max-width: 780px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1254px) and (max-width: 1404px) {
  .container {
    max-width: 1170px;
    width: 100%!important;
  }
}

@media screen and (min-width: 1405px) {
  .container {
    max-width: 1320px;
    width: 100%!important;
  }
}

// Mobile
@media screen and (max-width: $max-mobile-screen-size) {
  .container {
    max-width: 100%;
  }

  .desktop-category-header {
    display: none;
  }

  .mobile-img-container {
    height: 200px;
  }

  .mobile-img-category {
    width: 70%;
  }
}
