/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.text-decoration-none {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}
